.icon {
	display:inline-block;
	width:60px;
	height:50px;	
}

.temperature{
	position:relative;
}

.date{
	width:100%;
	text-align:center;
}

.clear-day{
	background-image: url('../img/yr-icons/icons_60x50/01d.png');
} 
.clear-night{
	background-image: url('../img/yr-icons/icons_60x50/01n.png');
}
.rain{
	background-image: url('../img/yr-icons/icons_60x50/10.png');
} 
.snow{
	background-image: url('../img/yr-icons/icons_60x50/13.png');
} 
.sleet{
	background-image: url('../img/yr-icons/icons_60x50/12.png');
} 
.wind , .fog , .cloudy {
	background-image: url('../img/yr-icons/icons_60x50/04.png');
}
.partly-cloudy-day{
	background-image: url('../img/yr-icons/icons_60x50/02d.png');
}
.partly-cloudy-night{
	background-image: url('../img/yr-icons/icons_60x50/02n.png');
}

