
<h1>Forecast for <select ng-model="day" ng-options="d.name | date for d in daychoices">
</select></h1> 

<div id="watch_frame" ng-show="afternoon_hourly.length > 0">
	<div id="morning_watch">
		<span ng-repeat='forecast in morning_hourly'>
			<div class="picto" ng-style="{top:radius+Math.round(radius * Math.sin(-Math.PI/2 + $index * Math.PI/6))+'px' , left:radius+Math.round(radius * Math.cos(-Math.PI/2 + $index * Math.PI/6))+'px'}">				
				<div>
					<div class="icon" ng-class="forecast.icon"></div>
				<div class="temperature">{{forecast.temperature}} °C</div>
				</div>
			</div>
			<div class="hour" id="{{$index}}" ng-style="{top:radius+Math.round(radius_factor*radius * Math.sin(-Math.PI/2 + $index * Math.PI/6))+'px' , left:radius+Math.round(radius_factor*radius * Math.cos(-Math.PI/2 + $index * Math.PI/6))+'px'}">
				<div class="date">{{forecast.date | date:'HH' | singleDigit}}</div>
			</div>
		</span>
	</div>
	<div id="morning_needle" ng-style="{'-webkit-transform':'rotate('+now_hour*30+'deg)'}" ng-show="now_hour < 12"></div>
	<div id="morning_needle_minute" ng-style="{'-webkit-transform':'rotate('+now_minute*6+'deg)'}" ng-show="now_hour < 12"></div>
	<div id="morning_needle_second" ng-style="{'-webkit-transform':'rotate('+now_second*6+'deg)'}" ng-show="now_hour < 12"></div>
	<div id="afternoon_watch">
		<span ng-repeat='forecast in afternoon_hourly'>
			<div class="picto" ng-style="{top:radius+Math.round(radius * Math.sin(-Math.PI/2 + $index * Math.PI/6))+'px' , left:radius+Math.round(radius * Math.cos(-Math.PI/2 + $index * Math.PI/6))+'px'}">				
				<div>
					<div class="icon" ng-class="forecast.icon"></div>
				<div class="temperature">{{forecast.temperature}} °C</div>
				</div>
			</div>
			<div class="hour" id="{{$index}}" ng-style="{top:radius+Math.round(radius_factor*radius * Math.sin(-Math.PI/2 + $index * Math.PI/6))+'px' , left:radius+Math.round(radius_factor*radius * Math.cos(-Math.PI/2 + $index * Math.PI/6))+'px'}">
				<div class="date">{{forecast.date | date:'HH'}}</div>
			</div>
		</span>
	</div>
	<div id="afternoon_needle" ng-style="{'-webkit-transform':'rotate('+now_hour*30+'deg)'}" ng-show="now_hour >= 12"></div>
	<div id="afternoon_needle_minute" ng-style="{'-webkit-transform':'rotate('+now_minute*6+'deg)'}" ng-show="now_hour >= 12"></div>
	<div id="afternoon_needle_second" ng-style="{'-webkit-transform':'rotate('+now_second*6+'deg)'}" ng-show="now_hour >= 12"></div>
</div>
